# Server Environment Variables
PORT=3000
CORS_ORIGIN=http://localhost:5173
SELF_URL=http://localhost:3000

# Others secrets
CRYPTO_SECRET=your_crypto_secret
SECRET_ACCESS_TOKEN=secret

# MongoDB connection strings
MONG_URI=mongodb://localhost:27017/Mern-boilerplate
MONG_URI_TEST=mongodb://localhost:27017/Mern-boilerplate-test

# Session secret for express-session
SESSION_SECRET=your_session_secret

# Firebase configuration
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY="your_firebase_private_key"
FIREBASE_BUCKET_NAME=your_firebase_bucket_name

# Strava configuration
STRAVA_CLIENT_ID=my_strava_client_id
STRAVA_CLIENT_SECRET=my_strava_client_secret
STRAVA_ACCESS_TOKEN=my_strava_access_token
STRAVA_REFRESH_TOKEN=my_strava_refresh_token

#Github configuration
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
